<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Stock Market Tracker</title>
</head>
<body>
    <h1>Stock Market tracker</h1>
    <form action="/stock" method="POST">
        <label for="symbol">Enter Stock Symbol:</label>
        <input type="text" id="symbol" name="symbol" required>
        <button type="submit">Get Stock Data</button>
    </form>
</body>
</html>